$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

.br-silver {
  border-right: 1px solid silver;
}

.wfw5gfw {
  text-align: right;
}

button {
  font-family: "Space Mono", monospace, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin-top: 10px;
  border: 1px solid #282B2E;
  display: block;
  padding: 5px 20px;
  border-radius: 3px;
  color: #282B2E;
  font-weight: normal;
  box-shadow: 3px -3px #282b2ead;
  background-color: wheat;
  display: inline-block;
  margin: 10px;
  margin-bottom: 0px;

  &:active {
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: 2px -2px #282b2e;
  }
}
