$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

.br-silver {
  border-right: 1px solid silver;
}

.wfw5gfw {
  text-align: right;
}

button {
  tab-size: 4;
  font-family: inherit;
  margin: 0;
  text-transform: none;
  background-image: none;
  cursor: pointer;
  border-radius: .375rem;
  border-width: 1px;
  border-color: transparent;
  background-color: #2196f3;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: .9rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 130px;
  border-radius: 4px;
  margin-inline-start: 10px;
  margin-top: 4px;

  &:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  }
}
