<div *ngIf="url">
  <div class="main">
    <h1>Essential GRE Words</h1>
    <div class="wfw5gfw mb-2">
      <button (click)="onShuffle()">Shuffle</button>
      <button (click)="sortTable()">Sort</button>
    </div>
  </div>
  <ng-container *ngIf="this.page === 0; else otherPage">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="br-silver">Word</th>
          <th scope="col">Meanings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of wordObj | keyvalue: sortOrder">
          <td class="br-silver">{{item.key | titlecase}}</td>
          <td>
            <div [innerHTML]="item.value | sanitizeHtml"></div>
            <div id="synonyms" *ngIf="synonyms[(item.key).toLowerCase()]">
              <ul class="d-flex flex-wrap m-0" style="list-style: none;">
                <li class="d-flex" *ngFor="let synonym of synonyms[(item.key).toLowerCase()]">
                  <div class="chip">
                    <span>{{synonym}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-container>
  <ng-template #otherPage>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col" class="br-silver">Word</th>
          <th scope="col">Meanings</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of excelWords | keyvalue: sortOrder">
          <td class="br-silver">{{item.key | titlecase}}</td>
          <td>
            <div [innerHTML]="item.value"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>