/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

.btn {
  font-weight: 500;
}

.btn:focus {
  box-shadow: none;
}

img {
  user-select: none;
}

textarea:focus,
input:focus,
button:focus {
  outline: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
